@import 'settings';

.bg-purple{
  background-color: $colour-purple;
}

.bg-yellow{
  background-color: $colour-yellow;
}

.bg-mint{
  background-color: $colour-mint;
}

.bg-blue{
  background-color: $colour-blue;
}