$colour-yellow: rgb(255, 229, 97);
$colour-purple: rgb(166, 94, 204);
$colour-blue: rgb(86, 117, 225);
$colour-mint: rgb(20, 137, 131);

$font-main: "GT Pressura Mono","GT Pressura","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;